{#
    @param {string} param.href - The URL the button links to.
    @param {string} param.text - The text displayed on the button.
    @param {string} param.r_icon - The icon displayed on the right side of the button.
    @param {string} param.l_icon - The icon displayed on the left side of the button.
    @param {string} param.classes - Additional CSS classes for the button.
    @param {string} param.onClick - JavaScript function to be called on button click.

#}
{% macro Component(param = {
    href: '',
    text: '',
    r_icon: '',
    l_icon: '',
    classes: '',
    onClick: '',
    type: 'primary'
}) %}

    {% if param.type == 'primary' %}
        {% set b = 'text-white from-blue-600 to-blue-400 hover:to-blue-500' %}
    {% endif %}
    {% if param.type == 'secondary' %}
        {% set b = 'text-gray-300 bg-gradient-to-t from-gray-800 to-gray-700 hover:to-gray-800' %}
    {% endif %}

    <a class="{{ param.classes }} w-auto text-base  space-x-2 shadow-lg btn bg-gradient-to-t group flex justify-center items-center  hover:!cursor-pointer {{ b }}"
       {% if param.href %} href="{{ param.href }}"{% endif %}
       {% if param.onClick %} onclick="{{ param.onClick }}"{% endif %}
       >
        {% if param.l_icon %} {{ param.l_icon }} {% endif %}
        <span>
        {{ param.text }}
        </span>
        {% if param.r_icon %} {{ param.r_icon }} {% endif %}
    </a>
{% endmacro %}
