{% extends "base.twig" %}

{% from 'components/buttons/Button.twig' import Component as Button %}
{% from 'components/tables/Table_1.twig' import Component as Table_1 %}
{% from 'components/content/BannerCta_1.twig' import Component as BannerCta_1 %}

{% block content %}

<!-- Hero -->
<section class="relative mb-20 overflow-hidden homeHeader bg-lightBlue remoteTalentRec_00">

  <div class="relative max-w-6xl px-4 mx-auto sm:px-6">
    <div class="grid grid-cols-3 pt-32 pb-20 md:pt-52 ">

      <!-- Hero content -->
      <div class="flex flex-col items-center justify-center col-span-3 mx-auto text-center md:mx-0 md:text-left info">

        <h1 class="w-full mb-6 leading-normal text-center text-tealBlue h1 font-uncut-sans" data-aos="zoom-out"
          data-aos-delay="100">
          Seamless collaboration with <br class="textBreak">
          <span class="text-darkBlue">
            our virtual office platform
          </span>

        </h1>
        <p class="w-full mb-10 text-xl text-center text-grayish " data-aos="zoom-out" data-aos-delay="150">
          ASTopTalent’s proprietary virtual office platform transforms <br class="textBreak">
          remote work into a collaborative, interactive experience. <br class="textBreak">
          Enhance team communication, task management, <br class="textBreak">
          and productivity—all in one place.
        </p>


        <div data-aos="zoom-out" data-aos-delay="200">
          {{ Button({
          text: "Book Your Free Demo Now",
          url: "#0",
          r_icon: "<i class='bx bx-right-arrow-alt'></i>",
          type: 'primary'
          }) }}
        </div>

      </div>

    </div>
  </div>
</section>

<section class="mb-10 pcTab:mb-20 remoteTalentRec_01">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">

    {# <div class="px-10 py-24 lg:px-20 rounded-[50px] contentCard bg-lightBlue"> #}
      <div>

        <div class="mb-16 sectionTop" data-aos="zoom-out" data-aos-delay="100">

          <h2
            class="flex flex-col justify-center gap-2 mx-auto mb-10 font-normal text-center pcTab:flex-row h3 title text-darkBlue">
            <strong>
              How our virtual collaboration <br class="textBreak">
              platform works streamline your team’s workflows <br class="textBreak">
              with our virtual office
            </strong>
          </h2>

        </div>

        <div class="sectionContent ">

          <div class="hidden grid-cols-4 pcTab:grid desktop">

            <div class="col-span-1 mb-4 info1" data-aos="zoom-out" data-aos-delay="150">
              <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                Avatar-Based interaction
              </h3>
              <p class="text-sm text-center text-grayish">
                ASTopTalent’s platform allows team members to interact through avatars in a fully immersive, virtual
                environment. Collaborate in real-time, join meetings, and manage tasks from anywhere.
              </p>
            </div>
            <div class="col-span-1 col-start-3 info2" data-aos="zoom-out" data-aos-delay="150">
              <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                Real-Time communication & collaboration
              </h3>
              <p class="text-sm text-center text-grayish">
                Our platform integrates real-time communication tools like chat, video calls, and file sharing, making
                it easy for your remote team to stay connected and productive.
              </p>
            </div>
            <div class="col-span-4 my-4 imageSteps" data-aos="zoom-out" data-aos-delay="200">
              <img src="{{ get_file('/images/step_talent_desktop.svg') }}" alt="choose talent steps mobile">
            </div>
            <div class="col-span-1 col-start-2 info3 " data-aos="zoom-out" data-aos-delay="250">
              <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                Task management & workflow automation
              </h3>
              <p class="text-sm text-center text-grayish">
                End-to-end talent management services—from recruitment to onboarding and payroll—ensuring seamless
                integration of remote teams.
              </p>
            </div>
            <div class="col-span-1 col-start-4 info4" data-aos="zoom-out" data-aos-delay="300">
              <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                Seamless integration with your existing tools
              </h3>
              <p class="text-sm text-center text-grayish">
                Our virtual office platform seamlessly integrates with the tools your team already uses, like Google
                Workspace, Slack, and more, for a smoother collaboration experience.
              </p>
            </div>

          </div>
          <div class="relative flex flex-row items-center justify-center mx-auto mb-20 w-fit pcTab:hidden mobile">

            <div class="relative flex flex-col justify-between w-10/12 gap-10 mx-auto sm:w-6/12 info">
              <div class="flex flex-col gap-2 info1" data-aos="zoom-out" data-aos-delay="150">
                <img src="{{ get_file('/images/step_1.png') }}" alt="steps mobile 1" class="mx-auto step">

                <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                  Avatar-Based
                  interaction:
                </h3>
                <p class="text-[16px] text-center text-grayish">
                  ASTopTalent’s platform allows
                  team members to interact through
                  avatars in a fully immersive,
                  virtual environment. Collaborate
                  in real-time, join meetings, and
                  manage tasks from anywhere.
                </p>
              </div>
              <div class="flex flex-col gap-2 info2" data-aos="zoom-out" data-aos-delay="200">
                <img src="{{ get_file('/images/step_2.png') }}" alt="steps mobile 2" class="mx-auto step">

                <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                  Real-Time
                  communication &
                  collaboration:
                </h3>
                <p class="text-[16px] text-center text-grayish">
                  Our platform integrates real-time
                  communication tools like chat,
                  video calls, and file sharing,
                  making it easy for your remote
                  team to stay connected and
                  productive.
                </p>
              </div>
              <div class="flex flex-col gap-2 info3" data-aos="zoom-out" data-aos-delay="250">
                <img src="{{ get_file('/images/step_3.png') }}" alt="steps mobile 3" class="mx-auto step">

                <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                  Task management &
                  workflow automation:
                </h3>
                <p class="text-[16px] text-center text-grayish">
                  End-to-end talent management
                  services—from recruitment to
                  onboarding and payroll—ensuring
                  seamless integration of remote
                  teams.
                </p>
              </div>
              <div class="flex flex-col gap-2 info4" data-aos="zoom-out" data-aos-delay="300">
                <img src="{{ get_file('/images/step_4.png') }}" alt="steps mobile 4" class="mx-auto step">

                <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                  Seamless integration
                  with your existing
                  tools:
                </h3>
                <p class="text-[16px] text-center text-grayish">
                  Our virtual office platform
                  seamlessly integrates with the
                  tools your team already uses,
                  like Google Workspace, Slack,
                  and more, for a smoother
                  collaboration experience.
                </p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

</section>

<section class="mb-10 pcTab:mb-20 remoteTalentRec_02">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">

    <div class="mb-16 sectionTop">

      <h2
        class="flex flex-col justify-center gap-2 mx-auto mb-10 font-normal text-center pcTab:flex-row h3 title text-darkBlue"
        data-aos="zoom-out" data-aos-delay="100">
        <strong>
          Pricing & plans
        </strong>
      </h2>

      <p class="mb-10 text-base text-center text-grayish" data-aos="zoom-out" data-aos-delay="150">
        Flexible plans to fit your business needs
      </p>

    </div>

    <div class="mb-10" data-aos="zoom-out" data-aos-delay="150">
      {{ Table_1({
      table: table
      }) }}
    </div>

  </div>

</section>

<section class="mb-10 pcTab:mb-20 remoteTalentRec_03">

  <div class="max-w-6xl px-4 mx-auto sm:px-6" data-aos="zoom-out" data-aos-delay="150">

    {{ BannerCta_1({
    title: 'Ready to experience seamless team collaboration?',
    desc: 'Contact Astoptalent today to learn how our virtual collaboration platform can transform the way your team <br
      class="textBreak"> works remotely, increasing productivity and enhancing communication.',
    buttonText: 'Book Your Free Demo Now',
    buttonLink: '',
    }) }}

  </div>

</section>

{% endblock %}