{% extends "base.twig" %}

{% from 'components/buttons/Button.twig' import Component as Button %}
{% from 'components/content/ImageInfo_1.twig' import Component as ImageInfo_1 %}
{% block content %}

<section class="relative mb-20 overflow-hidden homeHeader bg-lightBlue sucessSection_00">

  <div class="relative max-w-6xl px-4 mx-auto sm:px-6">
    <div class="grid grid-cols-3 pt-32 pb-20 md:pt-52 ">

      <div class="flex flex-col items-start justify-center col-span-3 mx-auto text-center md:mx-0 md:text-left info">

        <h1 class="w-full mb-6 leading-normal text-center text-tealBlue h1 font-uncut-sans" data-aos="zoom-out"
          data-aos-delay="100">
          <span class="text-darkBlue">
            Success stories: Real results
          </span>
          <br>
          with ASTopTalent
        </h1>

      </div>
    </div>
  </div>
</section>

<section class="mb-10 pcTab:mb-20 sucessSection_01">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">

    <div class="flex flex-col gap-y-20 sectionContent">

      {{
      ImageInfo_1({
      image: get_file('/images/Senior-Accountant-for-a-CPA-Firm.jpg'),
      alt: 'E-Commerce Growth',
      title: 'E-Commerce growth',
      desc: "<span class='font-semibold text-darkBlue'>Senior accountant for a CPA firm</span><br><br> A prominent CPA
      firm in Chicago faced challenges finding a senior accountant with expertise in tax and
      audit compliance during the busy season. ASTopTalent matched them with Javier O.,
      a skilled CPA based in Mexico. Javier integrated seamlessly into their team, handling
      multiple client accounts and reducing overtime hours for in-house staff. His contributions
      led to a 20% increase in client satisfaction within three months.",
      side: 'left'
      })
      }}
      {{
      ImageInfo_1({
      image: get_file('/images/Digital-Designer-for-a-Marketing-Company.jpg'),
      alt: 'Graphic Design Success',
      title: 'Graphic design success ',
      desc: "<span class='font-semibold text-darkBlue'>Digital designer for a marketing company </span><br><br> A
      digital marketing agency in Los Angeles hired Sofia M., a graphic designer from Venezuela, through Astoptalent.
      Sofia created captivating visuals that boosted client retention rates by 35%, including a viral
      campaign that achieved over 1 million views. The agency saved 80% on hiring costs compared to local
      hires.",
      side: 'right'
      })
      }}
      {{
      ImageInfo_1({
      image: get_file('/images/Software-Engineer-for-an-IT-Company.jpg'),
      alt: 'Freelance Hiring',
      title: 'Freelance hiring',
      desc: "<span class='font-semibold text-darkBlue'>Software engineer for an IT company</span><br><br> Astoptalent
      connected an IT company in Austin with Miguel L., a skilled software engineer from Colombia. Miguel optimized
      their data processing workflow, reducing processing times by 50% and helping launch a new analytics
      dashboard ahead of schedule. His contributions resulted in a 20% increase in revenue.",
      side: 'left'
      })
      }}
      {{
      ImageInfo_1({
      image: get_file('/images/Executive-Assistant-for-a-Startup-CEO.png'),
      alt: 'Marketing Trends',
      title: 'Marketing trends',
      desc: "<span class='font-semibold text-darkBlue'>Executive assistant for a startup CEO </span><br><br> The CEO of
      a San Francisco-based fintech startup hired Camila P., a highly organized remote assistant from Colombia. Camila
      streamlined the
      CEO’s schedule, improved productivity by 40%, and helped close a successful funding round.",
      side: 'right'
      })
      }}
      {{
      ImageInfo_1({
      image: get_file('/images/Paralegal-fora-Top-U-S-Law-Firm.jpg'),
      alt: 'Small Business Growth',
      title: 'Small business growth',
      desc: "<span class='font-semibold text-darkBlue'>Paralegal for a top U.S. law firm </span><br><br> Astoptalent
      helped a U.S. law firm in New York hire Victoria H., a detail-oriented paralegal from Mexico.
      Victoria managed case preparations, conducted legal research, and contributed to a high-profile win.
      The firm saw a 30% reduction in overhead costs while maintaining exceptional service quality.",
      side: 'left'
      })
      }}
      {{
      ImageInfo_1({
      image: get_file('/images/Customer-Success-Specialist-for-an-E-commerce-Company.jpg'),
      alt: 'Team Collaboration',
      title: 'Team collaboration',
      desc: "<span class='font-semibold text-darkBlue'>Customer success specialist for an E-Commerce company
      </span><br><br> A Miami-based e-commerce company hired Andres C., a customer success specialist from Argentina.
      Andres reduced response
      times by 50% and boosted customer satisfaction by 40%, resulting in an 18% increase in repeat sales.",
      side: 'right'
      })
      }}
    </div>

  </div>

</section>

<section class="relative overflow-hidden homeHeader sucessSection_02 bg-lightBlue">

  <div class="relative max-w-6xl px-4 mx-auto sm:px-6">
    <div class="grid grid-cols-1 pt-20 pb-20 md:pt-30 md:pb-30">

      <div
        class="flex flex-col items-center justify-center col-span-3 mx-auto text-center pcTab:col-span-2 md:mx-0 md:text-center info">

        <h2 class="leading-normal text-tealBlue h2 font-uncut-sans" data-aos="zoom-out" data-aos-delay="100">
          Why these stories matter
        </h2>
        <p class="mt-5 text-xl text-grayish " data-aos="zoom-out" data-aos-delay="150">
          These success stories highlight how ASTopTalent helps businesses of all sizes optimize their operations,
          scale with top-tier talent, and improve overall performance. By hiring remote professionals from LATAM,
          companies can save up to 80% in hiring costs while achieving better results.
        </p>

      </div>


    </div>
  </div>
</section>

<section class="relative overflow-hidden sucessSection_03 ">

  <div class="relative max-w-6xl px-4 mx-auto sm:px-6">
    <div class="grid grid-cols-1 pt-20 pb-20 md:pt-30 md:pb-30">

      <div
        class="flex flex-col items-center justify-center col-span-3 mx-auto text-center pcTab:col-span-2 md:mx-0 md:text-center info">

        <h2 class="leading-normal text-tealBlue h2 font-uncut-sans" data-aos="zoom-out" data-aos-delay="100">
          <span class="text-darkBlue">Ready to achieve similar
          </span>
          <br>
          success?
        </h2>
        <p class="mt-5 text-xl text-grayish " data-aos="zoom-out" data-aos-delay="150">
          Contact ASTopTalent today to explore how we can help your
          <br>
          business thrive with top LATAM talent.
        </p>

        {{ Button({
        text: "Book your free consultation Now",
        url: "#0",
        r_icon: "<i class='bx bx-right-arrow-alt'></i>",
        type: 'primary',
        classes: 'mt-5'
        }) }}

      </div>

    </div>
  </div>
</section>

{% endblock %}