{% extends "base.twig" %}

{% from 'components/buttons/Button.twig' import Component as Button %}
{% from 'components/content/ImageInfo_1.twig' import Component as ImageInfo_1 %}
{% from 'components/tables/Table_1.twig' import Component as Table_1 %}
{% from 'components/content/BannerCta_1.twig' import Component as BannerCta_1 %}

{% block content %}

<section class="relative mb-20 overflow-hidden homeHeader bg-lightBlue backOffice_00">

  <div class="relative max-w-6xl px-4 mx-auto sm:px-6">
    <div class="grid grid-cols-3 pt-32 pb-20 md:pt-52 ">

      <div class="flex flex-col items-center justify-center col-span-3 mx-auto text-center md:mx-0 md:text-left info">


        <h1 class="w-full mb-6 leading-normal text-center text-tealBlue h1 font-uncut-sans" data-aos="zoom-out"
          data-aos-delay="100">
          <span class="text-darkBlue">
            Simplify Your Business Operations <br>
          </span>
          with ASTopTalent’s Back <br>
          Office Services
        </h1>
        <p class="w-full mb-10 text-xl text-center text-grayish " data-aos="zoom-out" data-aos-delay="150">
          ASTopTalent provides comprehensive back-office and administrative support, <br class="textBreak">
          managing tasks like payroll, compliance, and more, so you can focus <br class="textBreak">
          on scaling your business and increasing efficiency
        </p>


        <div data-aos="zoom-out" data-aos-delay="200">
          {{ Button({
          text: "Book your free consultation",
          url: "#0",
          r_icon: "<i class='bx bx-right-arrow-alt'></i>",
          type: 'primary'
          }) }}
        </div>

      </div>

    </div>
  </div>
</section>

<section class="mb-10 pcTab:mb-20 backOffice_01">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">

    <div class="mb-10 pcTab:mb-20 sectionTop">

      <h2 class="mx-auto mb-10 text-center h3 title text-darkBlue" data-aos="zoom-out" data-aos-delay="100">
        How Our Back Office Services Work
      </h2>

      <p class="mb-10 text-base text-center text-grayish" data-aos="zoom-out" data-aos-delay="150">
        Efficiently Manage Your Operations with ASTopTalent’s Expertise
      </p>

    </div>

    <div class="flex flex-col gap-y-20 sectionContent">

      {{
      ImageInfo_1({
      image: get_file('/images/19 1.png'),
      alt: 'Comprehensive Payroll Management',
      title: 'Comprehensive Payroll Management',
      desc: "ASTopTalent manages payroll processing for your remote team, ensuring timely payments and compliance with
      local tax regulations, so you can focus on what truly matters—growing your business.",
      side: 'left'
      })
      }}
      {{
      ImageInfo_1({
      image: get_file('/images/20 1.png'),
      alt: 'Compliance & Legal Support',
      title: 'Compliance & Legal Support',
      desc: "We ensure your business remains compliant with local labor laws and regulations. Our team provides full
      legal and compliance support to ensure your operations run smoothly across borders.",
      side: 'right'
      })
      }}
      {{
      ImageInfo_1({
      image: get_file('/images/21 1.png'),
      alt: 'Administrative Task Management',
      title: 'Administrative Task Management',
      desc: "ASTopTalent takes care of routine administrative tasks like data entry, document management, and customer
      service, so your team can focus on higher-value tasks.",
      side: 'left'
      })
      }}
      {{
      ImageInfo_1({
      image: get_file('/images/22 1.png'),
      alt: 'Ongoing Support and Reporting',
      title: 'Ongoing Support and Reporting',
      desc: "Our team provides continuous monitoring of your back-office operations, delivering regular reports and
      performance insights to ensure efficiency and identify areas for improvement.",
      side: 'right'
      })
      }}

    </div>

  </div>

</section>

<section class="mb-10 pcTab:mb-20 remoteTalentRec_01">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">

    <div class="px-10 py-24 lg:px-20 rounded-[50px] contentCard bg-lightBlue">
      {# <div> #}

        <div class="mb-16 sectionTop" data-aos="zoom-out" data-aos-delay="100">

          <h2
            class="flex flex-col justify-center gap-2 mx-auto mb-10 font-normal text-center pcTab:flex-row h3 title text-darkBlue">
            <strong>
              How Our Virtual Collaboration <br class="textBreak">
              Platform Works Streamline Your Team’s Workflows <br class="textBreak">
              with Our Virtual Office
            </strong>
          </h2>

        </div>

        <div class="sectionContent ">

          <div class="hidden grid-cols-4 pcTab:grid desktop">

            <div class="col-span-1 mb-4 info1" data-aos="zoom-out" data-aos-delay="150">
              <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                Payroll Management
              </h3>
              <p class="text-sm text-center text-grayish">
                We handle the entire payroll process for your remote team, ensuring timely and compliant payments.
              </p>
            </div>
            <div class="col-span-1 col-start-3 info2" data-aos="zoom-out" data-aos-delay="150">
              <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                Legal & Compliance Services
              </h3>
              <p class="text-sm text-center text-grayish">
                We ensure that all local employment laws and regulations are met, eliminating any legal risks.
              </p>
            </div>
            <div class="col-span-4 my-4 imageSteps" data-aos="zoom-out" data-aos-delay="200">
              <img src="{{ get_file('/images/step_talent_desktop.svg') }}" alt="choose talent steps mobile">
            </div>
            <div class="col-span-1 col-start-2 info3 " data-aos="zoom-out" data-aos-delay="250">
              <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                Data Entry & Document Management
              </h3>
              <p class="text-sm text-center text-grayish">
                End-to-end talent management services—from recruitment to onboarding and payroll—ensuring seamless
                integration of remote teams.
              </p>
            </div>
            <div class="col-span-1 col-start-4 info4" data-aos="zoom-out" data-aos-delay="300">
              <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                Customer Support Services
              </h3>
              <p class="text-sm text-center text-grayish">
                We provide remote customer support, managing inquiries and maintaining excellent customer relationships.
              </p>
            </div>

          </div>
          <div class="relative flex flex-row items-center justify-center mx-auto w-fit pcTab:hidden mobile">

            <div class="relative flex flex-col justify-between w-10/12 gap-10 mx-auto sm:w-6/12 info">

              <div class="flex flex-col gap-2 info1" data-aos="zoom-out" data-aos-delay="150">
                <img src="{{ get_file('/images/step_1.png') }}" alt="steps mobile 1" class="mx-auto step">
                <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                  Payroll Management
                </h3>
                <p class="text-[16px] text-center text-grayish">
                  We handle the entire payroll
                  process for your remote team,
                  ensuring timely and compliant
                  payments.
                </p>
              </div>

              <div class="flex flex-col gap-2 info2" data-aos="zoom-out" data-aos-delay="200">
                <img src="{{ get_file('/images/step_2.png') }}" alt="steps mobile 2" class="mx-auto step">
                <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                  Legal & Compliance Services
                </h3>
                <p class="text-[16px] text-center text-grayish">
                  We ensure that all local
                  employment laws and regulations
                  are met, eliminating any legal risks.
                </p>
              </div>

              <div class="flex flex-col gap-2 info3" data-aos="zoom-out" data-aos-delay="250">
                <img src="{{ get_file('/images/step_3.png') }}" alt="steps mobile 3" class="mx-auto step">
                <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                  Data Entry & Document Management
                </h3>
                <p class="text-[16px] text-center text-grayish">
                  End-to-end talent management
                  services—from recruitment to
                  onboarding and payroll—ensuring
                  seamless integration of remote teams.
                </p>
              </div>

              <div class="flex flex-col gap-2 info4" data-aos="zoom-out" data-aos-delay="300">
                <img src="{{ get_file('/images/step_4.png') }}" alt="steps mobile 4" class="mx-auto step">
                <h3 class="mb-2 text-xl font-bold text-center text-darkBlue">
                  Customer Support Services
                </h3>
                <p class="text-[16px] text-center text-grayish">
                  We provide remote customer
                  support, managing inquiries and
                  maintaining excellent customer
                  relationships.
                </p>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

</section>

<section class="mb-10 pcTab:mb-20 remoteTalentRec_02">

  <div class="max-w-6xl px-4 mx-auto sm:px-6">

    <div class="mb-16 sectionTop">

      <h2
        class="flex flex-col justify-center gap-2 mx-auto mb-10 font-normal text-center pcTab:flex-row h3 title text-darkBlue"
        data-aos="zoom-out" data-aos-delay="100">
        <strong>
          Pricing & Savings
        </strong>
      </h2>

      <p class="mb-10 text-base text-center text-grayish" data-aos="zoom-out" data-aos-delay="150">
        Flexible Plans to Fit Your Business Needs
      </p>

    </div>

    <div class="mb-10" data-aos="zoom-out" data-aos-delay="200">
      {{
      Table_1({
      table: table
      })
      }}
    </div>

  </div>

</section>

<section class="mb-10 pcTab:mb-20 remoteTalentRec_03">

  <div class="max-w-6xl px-4 mx-auto sm:px-6" data-aos="zoom-out" data-aos-delay="100">

    {{ BannerCta_1({
    title: 'Ready to Streamline Your Operations?',
    desc: 'Contact ASTopTalent today to explore how our back-office services can help you reduce <br class="textBreak">
    administrative burdens, ensuring smooth operations and allowing you to focus <br class="textBreak">
    on what matters most—growing your business.',
    buttonText: 'Book your free consultation',
    buttonLink: '',
    }) }}

  </div>

</section>


{% endblock %}