{% from 'components/buttons/Button.twig' import Component as Button %}

<footer class="pt-24 pb-4 bg-darkBlue">
	<div class="max-w-6xl px-10 pb-10 mx-auto border-b border-mainWhite">

		<div class="grid grid-cols-1 gap-10 pcTab:gap-6 pcTab:grid-cols-12 ">

			<div class="col-span-1 pcTab:pb-10 firstColumn pcTab:col-span-4">
				<div class="mb-4 logo">
					<img class="w-auto h-24" src="{{ get_file('/images/logos/logo_alpha.svg') }}" alt="logo ASTopTalent ">
				</div>
			</div>

      <div class="flex flex-col gap-10 pcTab:justify-evenly pcTab:flex-row pcTab:pb-10 pcTab:col-span-8">

			<div class="">
				<h6 class="mb-8 text-lg font-semibold text-lightSteelBlue">
					Top talent solution
				</h6>
				<ul class="space-y-4 text-base">
					{% for item in footer_solutions %}
						<li>
							<a class="transition duration-150 ease-in-out text-mainWhite hover:text-lightSteelBlue" href="{{ item.url }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="">
				<h6 class="mb-8 text-lg font-semibold text-lightSteelBlue">
					Information
				</h6>
				<ul class="space-y-4 text-base">
					{% for item in footer_information %}
						<li>
							<a class="transition duration-150 ease-in-out text-mainWhite hover:text-lightSteelBlue" href="{{ item.url }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="">
				<h6 class="mb-8 text-lg font-semibold text-lightSteelBlue">
					Contact
				</h6>
				<ul class="mb-8 space-y-4 text-base">
          <li class="flex flex-row items-start justify-start gap-2 leading-normal">
            <i class='text-xl bx bxs-map'></i>
            <span class="flex self-center">
            2889 McFarlane Rd., Miami, <br>
            Florida 33133
            </span>
          </li>
          <li class="flex flex-row items-start justify-start gap-2 leading-normal">
            <i class='text-xl bx bxs-phone'></i>
            <span class="flex self-center">
            +1(305)-249-1072
            </span>
          </li>
          <li class="flex flex-row items-start justify-start gap-2 leading-normal">
            <i class='text-xl bx bxs-envelope'  ></i>
            <a href="mailto:info@alphascaletalent.com" class="flex self-center cursor-pointer hover:text-lightSteelBlue">
            info@alphascaletalent.com
            </a>
          </li>
				</ul>
        <div class="flex flex-row gap-4 socials">
          {% for item in socials %}
          <a href="{{ item.url }}" class="cursor-pointer hover:text-lightSteelBlue">
            <i class="{{ item.properties.icon_type }} text-3xl block"  ></i>
          </a>
          {% endfor %}
        </div>
			</div>
			</div>

		</div>
	</div>
	<div class="flex items-center justify-center w-full max-w-6xl py-6 mx-auto rights">
		<span class="w-full text-base text-center text-mainWhite">
			© 2024 AlphaScale LLC. All Rights Reserved.
		</span>
	</div>

</footer>

{{ function("wp_footer") }}
