

{% macro Component(param = {
  icon: '',
  title: '',
  desc: '',
  align: 'left',
  centerResponsive: false,
}) %}

{% if param.align == '' %}
  {% set align = 'left' %}
{% else %}
  {% set align = param.align %}
{% endif %}

{% if param.centerResponsive == true %}
  {% set centerParent = 'items-center pcTab:items-' ~ align %}
  {% set centerTexts = 'text-center pcTab:text-' ~ align %}
  {% else %}
  {% set centerParent = 'items-' ~ align %}
  {% set centerTexts = 'text-' ~ align %}

{% endif %}

<div class="flex flex-col justify-center gap-6 {{ centerParent }} info">

  {% if param.icon != '' %}
  <div class="flex pcTab:w-full icon {{ centerParent }}">
    {# <img class="mx-auto md:max-w-none" src="{{ icon }}"> #}
    {{ param.icon | raw }}
  </div>
  {% endif %}
  <div class="flex flex-col w-full gap-6 content">
    <h3 class="font-bold leading-tight {{ centerTexts }} title h3 text-darkBlue">
      {{ param.title | raw }}
    </h3>
    <p class="text-grayish {{ centerTexts }}">
      {{ param.desc | raw }}
    </p>

  </div>

</div>


{% endmacro %}