{% macro Component(param = {
title: '',
subTitle: '',
desc: '',
img: '',
alt: '',
subTag: ''
}) %}

<div class="flex flex-col h-auto gap-6 p-8 border rounded-2xl border-lavenderGray TalentCard_1">

  <div class="flex flex-row items-center gap-4 ">
    <div class="image">
      <img src="{{ param.img }}" alt="{{ param.alt }}" class="object-cover w-auto h-16 rounded-full" />
    </div>
    <div class="flex flex-col gap-1">
    <h3 class="m-0 text-xl font-bold leading-normal title text-darkBlue">
      {{ param.title }}
    </h3>
    <span class="text-sm font-normal uppercase subTitle text-grayish">
      {{ param.subTitle }}
    </span>
    </div>
  </div>
  {% if param.desc != '' %}
    <div class="px-1 desc">
      <p class="text-sm text-grayish ">
        {{ param.desc }}
      </p>
    </div>
  {% endif %}
  {% if param.subTag != '' %}
    <span class="px-1 text-sm font-bold uppercase subTag text-tealBlue">
      {{ param.subTag }}
    </span>
  {% endif %}

</div>


{% endmacro %}